.input-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
}

.input-container-full-w {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
}


input {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0.2rem 3.5rem 0.2rem 0.2rem;
}
